/*------- Styling the navbar ---------*/
nav {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9; }
  nav .nav-item {
    font-size: 1.4rem;
    padding-right: 2px; }

/*--------- Styling the showcase section --------*/
#showcase {
  background: linear-gradient(rgba(50, 146, 166, 0.7), rgba(50, 146, 166, 0.7)), url("../img/mountains.jpg");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  min-height: 600px; }
