$primary-color:#3292a6;
$white:#fff;

/*------- Styling the navbar ---------*/
nav{
    box-shadow: 2px 2px 5px $primary-color;
    background: #fff;
    opacity:0.9;

    .nav-item{
        font-size: 1.4rem;
        padding-right:2px;
    }
}
/*--------- Styling the showcase section --------*/
#showcase{
    background: linear-gradient(rgba(50, 146, 166, 0.7),rgba(50, 146, 166, 0.7)) ,url('../img/mountains.jpg');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    min-height:600px;
}

/*----------- Styling the boxes --------*/
.card-outline-primary{
    border:1px solid $primary-color;
}

/*------- Styling the authors section --------*/
.info-header{
    width:50%;
    margin:0 auto;
}

#authors {
    .card img{
        margin-top:-50px;
     }
     .fa{
         font-size: 25px;
     }
}

/*-------- Media Queries --------*/
@media only screen and (max-width:768px){
    #authors{
        .card{
            margin-bottom:85px;
        }
    }
}

@media only screen and (max-width:576px){
    #authors{
        .card{
            margin-bottom: 85px;
        }
    }
}